<!DOCTYPE html>
<html>
  <head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div class="content">
      <h1>Administration du Petit Bac</h1>
      <a class="buttonLink" href="/login">Se connecter</a>
    </div>
  </body>
</html>
